/* Allison Lee */
/* IntroCS pd6 sec 10 */
/* HW 05: Stuylin' */
/* 2021--02--13 */
html{
  font-family: 'georgia';  /*this changes all the text in the file to have the font georgia */
  
}

h2{
	color: blue /* this changes all the h2 elements to the color blue */
}
p {
    color: red /*changes the font color of the paragraphs to red */
  }
body {
	background-color: aqua /*changes the page background to aqua */
}